.nav-cont {
    display: flex;
    padding: 0;
    margin-left: auto;

    list-style: none;

    &__item:not(:first-child) {
        margin-left: 50px;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
    
        fill: currentColor;
        color: $primary-text-color;
    
        font-weight: 500;
        line-height: 1.15;
        letter-spacing: 0.02em;
        text-decoration: none;
    
        transition: color $transition;
    }

    &__icon {
        margin-right: 10px;
        fill: currentColor;
    }

    &__link:hover,
    &__link:focus {
        color: $primary-blue-color;
    }
}